:root {
    --body-color: #144b92;
    --header-color: rgb(85, 190, 216);
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(72, 82, 104);
}

body {
    margin: 0;
}

h1 {
    display: inline-block;
    margin: 20px 20px 20px none;
    padding: 20px 20px 20px 80px;
    color: rgb(72, 82, 104);
    background-color: var(--header-color);
}

h2 {
    display: flex;
    float: right;
}

h3 {
    font-size: 50px;
}

nav{
    float: right;
    display: flex;
    margin: 10px;
    padding: 20px;
    font-weight: 30px;

}

div {
    display: flex;
    margin: 20px;
}

li {
    display: inline;
    padding: 30px;
    align-content: center;
    font-size: 30px;
}

aside {
    display: block;
}

img {
    height: 200px;
    width: 200px;
    padding: 20px;
    display: flex;
    float: right;

}

#img1 {
    height: 400px;
    width: 400px;
    padding: 0;
}


.subheader,
.section-header,
.section-content {
    color: var(--body-color);
}

.subheader {
    margin: 0;
    padding: 20px;
    position: relative;
    color: var(--header-color);
    font-size: 30px;
    font-weight: bolder;
}

.subheader-contents {
    position: relative;
    left: 600px;
    justify-content: right;
    
}

.section-header {
    padding: 20px;
    margin: 5px;
    align-content: center;
    border-style: none solid none none;
    border-color: var(--body-color);
    width: 20%;
}

.section-content {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    padding: 20px;
    width: 70%;    

}

#website-label {
    display: flex;
    padding: 20px;
    margin: 2px;
    background-color: var(--body-color);
    color: var(--header-color);
    justify-content: center;
}

#work-section1 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: center;
}
    
#links {
    color: var(--header-color);
    text-decoration-thickness: 3px;
    margin: 20px;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}

#self {
    height: 100px;
    width: 100px;
    display: flex;
    float: left;
    position: relative;
}


@media screen and (max-width: 1152px) {
    header,
    h1,
    nav,
    div,
    section {
        flex-direction: column;
    }

       .section-header {
        border-style: none none solid none;
    }

    nav {
        background-color: rgb(72, 82, 104);
        margin: 0;
    }

    .subheader,
    .subheader-contents {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;
        left: 0;
        
    }

}


@media screen and (max-width: 972px) {
 
    nav {
        background-color: rgb(72, 82, 104);
        width: 100%;
        margin: 0;
    }

    .subheader,
    .subheader-contents {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

  }



